.vscode
.dir-locals.el
.clang_complete

build
dependencies
*.o
gemm
*.a
bin/
hatrix_deps.sh
run.sh
*.data
*.csv
.DS_Store
h2_factorize.c
h2_factorize.h
jdf_sources.mk
a.out
Dense

make.inc

*xml
*xyz
*txt

examples/distributed/H2_construct/h2_factorize_flows.c
examples/distributed/H2_construct/h2_factorize_flows.h
